<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.ibm.xtools.transform.core.transformationProviders">
      <TransformationProvider
            class="misa.xform.front.FrontTransformationProvider">
         <Priority
               name="Highest">
         </Priority>
         <Transformation
               transformGUI="misa.xform.front.FrontTransformationGUI"
               version="1.0.0"
               supportsSilentMode="true"
               name="%Transform.name"
               groupPath="%Transform.groupPath"
               sourceModelType="resource"
               targetModelType="resource"
               id="misa.xform.front.FrontTransformation">
            <Property
                  readonly="false"
                  metatype="choice"
                  name="%MergeOption"
                  metatypeData="%MergeOptionValues"
                  value="3"
                  id="MergeKind">
            </Property>
            <Property
                  readonly="false"
                  metatype="boolean"
                  name="%MergeWarning"
                  value="%MergeWarningDefault"
                  id="MergeWarning">
            </Property>
            <Property
                  id="GenerateRrcFiles"
                  metatype="boolean"
                  name="Generate RRC Files"
                  readonly="false"
                  value="true">
            </Property>
            <Property
                  id="UpdateReqProSchema"
                  metatype="boolean"
                  name="Update ReqPro Schema"
                  readonly="false"
                  value="true">
            </Property>
            <Property
                  id="ReqProProjectPath"
                  metatype="String"
                  name="ReqPro Project Path"
                  readonly="false">
            </Property>
            <Property
                  id="ReqProUserName"
                  metatype="String"
                  name="ReqPro User Name"
                  readonly="false">
            </Property>
            <Property
                  id="ReqProPassword"
                  metatype="String"
                  name="ReqPro Password"
                  readonly="false">
            </Property>
            <Property
                  id="ReqProPropertiesFilePath"
                  name="ReqPro Properties File Path"
                  readonly="false">
            </Property>
         </Transformation>
      </TransformationProvider>
   </extension>

</plugin>
